main {
  padding: 1rem 21%;
  @media (max-width: 992px) {
    padding: 0 10%;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}

.lazy-skeleton {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  height: 50vh;
}
