$breadcrumb-max-width: 100%;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb {
  display: flex;
  flex-wrap: nowrap;
  max-width: $breadcrumb-max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .breadcrumb-item {
    display: flex;
    align-items: center;

    .separator {
      margin: 0 0.5rem;
    }
  }
}